.View {
    text-align: center;
    margin: 10px;
}
.ViewGame {
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Players {
    justify-content: center;
    width: 100%;
}
.Chatview {
    border: 1px black solid;
    margin: 10px;
}

.Chatview input {
    width: 90%;
    margin: 10px;
  }
  